
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Establece una fuente predeterminada */
  background-color: #302f2f; /* Fondo blanco para el cuerpo */
}

#formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Utilizamos porcentaje para que sea adaptable */
  max-width: 400px; /* Ancho máximo del formulario */
  height: auto; /* Altura automática según el contenido */
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 15px 60px rgba(40, 40, 143);
  outline: 1px solid #60e4ee;
  border-radius: 10px;
}

#form-body {
  width: 100%;
}

#welcome-lines {
  text-align: center;
}


#my-form-line-1 {
  color: #60e4ee;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

#registration-form-line-2 {
  color: #cbecee;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Área de entrada de texto */
#input-area {
  margin-top: 20px;
}

/* Estilos para los campos de entrada */
.form-group {
  padding: 11px 25px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
  margin-bottom: 20px;
  }

  .form-group:focus {
    border: 1px solid #60e4ee;
  }
  
  .form-group:first-child {
    margin-bottom: 15px;
  }

  .form-group:nth-child(2) {
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: 100%;
    background: none;
    font-size: 13.4px;
    color: #60e4ee;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .form-group input:focus {
    outline: none;
  }


  #submit-button-cvr {
    margin-top: 20px;
  }
  
  #submit-button {
    display: block;
    width: 100%;
    color: #60e4ee;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 12px;
    border: 0;
    outline: 1px solid #60e4ee;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
  }
  
  #submit-button:hover {
    transition: all ease-in-out .3s;
    background-color: #60e4ee;
    color: #161616;
    cursor: pointer;
  }
  
  #submit-button-git {
    margin-top: 40px;
    display: flex;
  justify-content: center;
    
  }

  .btn {
    width: 40px; /* Ancho deseado */
    height: 40px; /* Altura deseada */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6e7276;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(40, 40, 143, 0.509);
    border: 1px solid rgba(161, 13, 13, 0);
    cursor: pointer;
    transition: transform 0.5s;

  }
  
  .btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(255,255,255,0.7),
          -0.5px -0.5px 0px rgba(255,255,255,1),
          0.5px 0.5px 0px rgba(0,0,0,0.15),
          0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  
  .btn svg {
    transition: transform 0.5s;
  }
  
  .btn:hover svg {
    transform: scale(0.9);
    fill: #333333;
  }
  

  .error-message {
    color: #978db0; /* Color rojo para resaltar el mensaje de error */
    font-size: 14px; /* Tamaño de fuente ligeramente más grande */
    margin-top: 5px; /* Espacio superior para separar los mensajes de error */
    border-radius: 5px; /* Bordes redondeados para hacer que el mensaje de error se vea más suave */
  }
  
/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
  #formulario {
    width: 90%;
    padding: 20px;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px;
  }

  #submit-button {
    padding: 12px;
    font-size: 14px;
  }
}